.container {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    margin: auto;
    padding: 20px;
}

.input , .left {
    display: inline-block;
    height: 300px;
    width: 270px;
    vertical-align: top;
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
}

.left {
    margin-left: 200px;
}

.submit {
    display: block;
    background-color: gold;
    margin: auto;
}
hr {
    margin: 25px 0px 25px 0px;
}
h1, h2 {
    text-align: center;
}
.dojo_box {
    width: 300px;
    margin: auto;
}