<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Comments for "{{course.name}}"</h1>
        <div class="input_box">
            <form action="/courses/comments/{{course.id}}" method="post">
            {% csrf_token %}
            <textarea name="content" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit!">
            </form>
        </div>
        <ul>
            {% for comment in all_comments %}
            <li>{{comment.content}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>