<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome, {{user.first_name}}</h1>
            <a href="/books" id ="home">Home</a>
            <a href="/books/my_favorites">My Favorites</a>
            <a href="/log_out">Log Out</a>
        </div>
        <div class="my_favs">
            <h1>All my Favorite Books</h1>
            <ul>
                {% for book in user.liked_books.all %}
                    <li><a href="/books/{{book.id}}">{{book.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>