/* selected_element {
    css_property: value;
} */

h1 {
    color:green;
    outline: 5px dotted red;
}
div {
    display: inline-block;
    outline: 2px dotted blue;
}

.pet_type, .new_type, {
    display: inline-block;
}
